@import "mixins";
@import "variables";

.blog {
  background: url("../img/blog-bg.png");

  .card-group {
    .card {
      border-radius: 3px;
    }
  }

  .card {
    color: $grey;
    margin-bottom: 20px;

    &:hover {
      text-decoration: none;
      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/black-shadow.png") repeat;
      }

      &:after {
        content: "";
        bottom: -12px;
        right: -3px;
        width: 100%;
        height: 10px;
      }

      &:before {
        content: "";
        top: 2px;
        right: -12px;
        width: 10px;
        height: calc(100% + 10px);
      }
    }

    .blog-category {
      text-transform: uppercase;
      font: 10px Arial;
    }

    .card-block {
      padding: 20px;
      height: 200px;
      overflow: hidden;

      @media (max-width: $max-xs) {
        height: auto;
      }
    }

    .card-title {
      @include font-RalewayExtraBold(18px, 24px);
      color: $main-dark;
      height: 48px;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    .card-text {
      @include font-RalewayRegular(11px, 14px);
    }
  }

  .card-footer {
    font: 10px Arial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: transparent;
    border-top: none;

    .comments {
      display: inline-block;
      margin-right: 10px;
    }
  }
}